---
import Layout from "../layouts/Layout.astro";
import Field from "../components/Field.astro";
---

<script>
  const product_name: HTMLInputElement | null = document.querySelector("#product_name");
  const product_price: HTMLInputElement | null = document.querySelector("#product_price");
  const product_hidden_price: HTMLInputElement | null = document.querySelector("#product_hidden_price");
  const product_tag: HTMLInputElement | null = document.querySelector("#product_tag");
  const product_store_logo: HTMLInputElement | null = document.querySelector("#product_store_logo");
  const product_image: HTMLInputElement | null = document.querySelector("#product_image");
  const product_link: HTMLInputElement | null = document.querySelector("#product_link");
  const button_code_generate: HTMLButtonElement | null = document.querySelector("#product_button");
  const textarea_modal_code: HTMLTextAreaElement | null = document.querySelector("#textarea_modal_code");
  const modal_code: HTMLDivElement | null = document.querySelector("#modal_code");
  const button_close_modal_code: HTMLButtonElement | null = document.querySelector("#button_close_modal_code");

  const example_product_name: HTMLHeadingElement | null = document.querySelector("#example_product_name");
  const example_product_price: HTMLParagraphElement | null = document.querySelector("#example_product_price");
  const example_product_tag: HTMLDivElement | null = document.querySelector("#example_product_tag");
  const example_product_image: HTMLImageElement | null = document.querySelector("#example_product_image");
  const example_product_store_logo: HTMLImageElement | null = document.querySelector("#example_product_store_logo");
  const example_product_link: HTMLAnchorElement | null = document.querySelector("#example_product_link");

  product_name?.addEventListener("input", () => {
    if (!example_product_name) return;
    example_product_name.textContent = product_name.value ? product_name.value : "Nome do produto";
  });

  product_price?.addEventListener("input", () => {
    if (!example_product_price) return;
    example_product_price.textContent = product_price.value
      ? new Number(product_price.value).toLocaleString("pt-br", { style: "currency", currency: "BRL" })
      : "R$ 1000,00";
  });

  product_hidden_price?.addEventListener("input", () => {
    if (product_hidden_price.checked) {
      if (!example_product_price) return;
      example_product_price.style.display = "none";
    } else {
      if (!example_product_price) return;
      example_product_price.style.display = "block";
    }
  });

  product_tag?.addEventListener("input", () => {
    if (!example_product_tag) return;
    example_product_tag.textContent = product_tag.value ? product_tag.value : "Etiqueta";
  });

  product_image?.addEventListener("input", () => {
    if (!example_product_image) return;
    example_product_image.src = product_image.value ? product_image.value : "https://placehold.co/200x200/edeef1/b4bac5/webp";
  });

  product_store_logo?.addEventListener("input", () => {
    if (!example_product_store_logo) return;
    example_product_store_logo.src = product_store_logo.value
      ? product_store_logo.value
      : "https://placehold.co/150x50/edeef1/b4bac5/webp?text=Logo+da+loja+150+x+50";
  });

  product_link?.addEventListener("input", () => {
    if (!example_product_link) return;
    example_product_link.href = product_link.value ? product_link.value : "#";
  });

  const handleGenereteCode = () => {
    const form_generator: HTMLFormElement | null = document.querySelector("#form_generator");
    let data: FormData;

    if (!form_generator) return;

    data = new FormData(form_generator);
    console.log(JSON.stringify(Object.fromEntries(data)));
    console.log(encodeURI(JSON.stringify(Object.fromEntries(data))));

    if (!textarea_modal_code) return;
    textarea_modal_code.textContent = `<iframe width="100%" height="288" scrolling="no" frameBorder="0" src="${
      location.origin
    }/embeded/?product=${encodeURI(JSON.stringify(Object.fromEntries(data)))}"></iframe>`;

    if (!modal_code) return;
    modal_code.classList.remove("invisible");
  };

  const handleCloseCodeMocal = () => {
    if (!modal_code) return;
    modal_code.classList.add("invisible");
  };

  button_code_generate?.addEventListener("click", handleGenereteCode);
  button_close_modal_code?.addEventListener("click", handleCloseCodeMocal);
</script>

<Layout title="Welcome to Astro.">
  <main class="w-full flex flex-col justify-center items-center p-5">
    <div class="pt-4">
      <h1 class="text-center text-2xl uppercase mb-14 text-woodsmoke-50">
        <img src="/logo_white.svg" width="500" alt="Logo Product Viewer" />
      </h1>
    </div>
    <div class="w-full flex flex-col items-center mb-14">
      <div class="p-8 bg-white w-full max-w-5xl">
        <div class="p-5 border bg-woodsmoke-50 shadow-lg border-woodsmoke-200 rounded-[20px] flex items-center gap-4 relative z-10">
          <div class="w-[200px] h-[200px] border border-woodsmoke-200 rounded-[20px] overflow-hidden p-2.5 bg-white">
            <img
              src="https://placehold.co/200x200/edeef1/b4bac5/webp"
              alt=""
              id="example_product_image"
              class="w-full h-full rounded-[15px]"
            />
          </div>
          <div class="flex flex-1 flex-col gap-4 items-start justify-center">
            <div class="bg-green-200 text-green-700 px-5 py-2 rounded-[10px]" id="example_product_tag">Etiqueta</div>
            <h2 class="text-2xl" id="example_product_name">Nome do produto</h2>
            <div>
              <img
                src="https://placehold.co/150x50/edeef1/b4bac5/webp?text=Logo+da+loja+150+x+50"
                alt=""
                id="example_product_store_logo"
                class="max-h-[50px]"
              />
            </div>
          </div>
          <div class="flex flex-col items-center">
            <p class="text-center mb-5 text-2xl" id="example_product_price">R$ 1000,00</p>
            <a
              href="#"
              target="_blank"
              id="example_product_link"
              class="px-10 py-2 rounded-[10px] bg-green-600 hover:bg-green-700 active:bg-green-800 text-woodsmoke-50 text-xl"
              >Ir para loja</a
            >
          </div>
        </div>
        <div class="px-5 pt-8 pb-1 rounded-b-[20px] -mt-7 bg-woodsmoke-50 text-woodsmoke-300 text-[9px] relative z-0">
          Develope by: <a href="https://lucastiago.com.br" target="_blank" class="hover:selective-yellow-400">LTCODE</a> | Gostaria de ter um
          product viewer em seu site? <a href="#" target="_blank" class="hover:selective-yellow-400">Clique aqui</a>.
        </div>
      </div>
    </div>
    <div class="mb-14">
      <form class="flex flex-wrap max-w-3xl gap-4" id="form_generator">
        <Field name="product_name" label="Nome do produto:" type="text" containerClass="basis-full" />
        <div>
          <Field name="product_price" label="Preço do prodito:" type="number" />
          <Field name="product_hidden_price" label="Ocultar preço:" type="checkbox" />
        </div>
        <Field name="product_tag" label="Etiqueta:" />
        <Field name="product_store_logo" label="URL Logo da loja:" />
        <Field name="product_image" label="URL da image do prodito:" type="text" containerClass="basis-full" />
        <Field name="product_link" label="Link do produto:" type="text" containerClass="basis-full" />
        <Field name="product_button" label="Gerar código" type="submit" containerClass="basis-full mt-5" />
      </form>
      <div
        class="fixed w-full h-full top-0 left-0 z-50 bg-woodsmoke-950 bg-opacity-50 flex justify-center items-center shadow-lg invisible"
        id="modal_code"
      >
        <div class="absolute w-full max-w-3xl h-full max-h-[568px] bg-woodsmoke-50 rounded-[20px]">
          <div class="w-full bg-woodsmoke-200 rounded-t-[20px] p-4 border-b border-woodsmoke-300 flex justify-between mb-5">
            <div>Código</div>
            <button id="button_close_modal_code">X</button>
          </div>
          <div class="p-5">
            <textarea
              id="textarea_modal_code"
              class="w-full rounded-[20px] p-5 shadow-lg resize-none bg-white text-woodsmoke-600"
              rows="10"
              disabled>Código</textarea
            >
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
